<a [routerLink]="['/bai1']" routerLinkActive="router-link-active" >Bai 1 |</a>
<a [routerLink]="['/bai2']" routerLinkActive="router-link-active" >| Bai 2 |</a>
<a [routerLink]="['/bai3']" routerLinkActive="router-link-active" >| Bai 3 |</a>
<a [routerLink]="['/bai4']" routerLinkActive="router-link-active" >| Bai 4 |</a>
<a [routerLink]="['/bai5']" routerLinkActive="router-link-active" >| Bai 5 |</a>
<a [routerLink]="['/bai6']" routerLinkActive="router-link-active" >| Bai 6 |</a>
<a [routerLink]="['/bai7']" routerLinkActive="router-link-active" >| Bai 7 |</a>
<a [routerLink]="['/bai8']" routerLinkActive="router-link-active" >| Bai 8 |</a>

<router-outlet></router-outlet>